make-decision/make-decision-test-flow.json
[{"id":"66fae8ef.c62968","type":"tab","label":"Make Decision Test","disabled":false,"info":""},{"id":"290603aa.26c65c","type":"decision-server-config","z":"","name":"Local Docker ODM","protocolHost":"http://localhost","baseEndpointURL":"DecisionService/rest/v1","port":"9080","useBasicAuthentication":false},{"id":"e70c2c14.1e7bd","type":"ruleapp-config","z":"","name":"Loan Validation Production (Latest)","decisionId":"","ruleappName":"loanvalidation_for_resruleappmngt","ruleappVersion":"","rulesetName":"loan_validation_production","rulesetVersion":"","includeTrace":true},{"id":"10886d12.4245a3","type":"decision-server-config","z":"","name":"ODM On Cloud","protocolHost":"https://myodm.bpm.ibmcloud.com","baseEndpointURL":"odm/dev/DecisionService/rest/v1","port":"","useBasicAuthentication":true},{"id":"80b96c0e.f714c","type":"ruleapp-config","z":"","name":"Loan Validation Production (v1)","decisionId":"","ruleappName":"loanvalidation_for_resruleappmngt","ruleappVersion":"1.0","rulesetName":"loan_validation_production","rulesetVersion":"1.0","includeTrace":true},{"id":"56af16ff.cfbf78","type":"decision-server-config","z":"","name":"Empty Config","protocolHost":"","baseEndpointURL":"","port":"","useBasicAuthentication":false},{"id":"34cdf619.74027a","type":"inject","z":"66fae8ef.c62968","name":"Loan Validation Request (Latest @ Local)","topic":"","payload":"{\"loan\":{\"numberOfMonthlyPayments\":3,\"startDate\":\"2006-08-19T17:27:14.000+0000\",\"amount\":3,\"loanToValue\":10517320},\"borrower\":{\"firstName\":\"string\",\"lastName\":\"string\",\"birth\":\"2008-09-29T01:49:45.000+0000\",\"SSN\":{\"areaNumber\":\"string\",\"groupCode\":\"string\",\"serialNumber\":\"string\"},\"yearlyIncome\":3,\"zipCode\":\"string\",\"creditScore\":3,\"spouse\":{\"firstName\":null,\"lastName\":null,\"birth\":\"2018-05-01T10:32:15.388+0000\",\"SSN\":{\"areaNumber\":\"\",\"groupCode\":\"\",\"serialNumber\":\"\"},\"yearlyIncome\":0,\"zipCode\":null,\"creditScore\":0,\"spouse\":null,\"latestBankruptcy\":{\"date\":null,\"chapter\":0,\"reason\":null}},\"latestBankruptcy\":{\"date\":\"2014-09-18T23:18:33.000+0000\",\"chapter\":3,\"reason\":\"string\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":100,"wires":[["4514fe4a.f8549"]]},{"id":"bc5de0ef.fe7ed","type":"debug","z":"66fae8ef.c62968","name":"Log Response","active":true,"console":"false","complete":"true","x":1000,"y":180,"wires":[]},{"id":"3317ddc9.0d3c32","type":"function","z":"66fae8ef.c62968","name":"Define Service Configuration","func":"msg.odm = {\n    config: {\n        decisionId: \"12345\",\n        protocolHost: \"http://localhost\",\n        port: \"9080\",\n        baseEndpointURL: \"DecisionService/rest/v1\",\n        ruleappName: \"loanvalidation_for_resruleappmngt\",\n        ruleappVersion: null,\n        rulesetName: \"loan_validation_production\",\n        rulesetVersion: null,\n        includeTrace: true\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["6d7475c8.18af6c","d3a743c6.027a6"]]},{"id":"67a329da.ebd058","type":"inject","z":"66fae8ef.c62968","name":"Loan Validation Request (Latest @ Local)","topic":"","payload":"{\"loan\":{\"numberOfMonthlyPayments\":3,\"startDate\":\"2006-08-19T17:27:14.000+0000\",\"amount\":5000,\"loanToValue\":20},\"borrower\":{\"firstName\":\"string\",\"lastName\":\"string\",\"birth\":\"2008-09-29T01:49:45.000+0000\",\"SSN\":{\"areaNumber\":\"string\",\"groupCode\":\"string\",\"serialNumber\":\"string\"},\"yearlyIncome\":3,\"zipCode\":\"string\",\"creditScore\":3,\"spouse\":{\"firstName\":null,\"lastName\":null,\"birth\":\"2018-02-27T19:07:41.292+0000\",\"SSN\":{\"areaNumber\":\"\",\"groupCode\":\"\",\"serialNumber\":\"\"},\"yearlyIncome\":0,\"zipCode\":null,\"creditScore\":0,\"spouse\":null,\"latestBankruptcy\":{\"date\":null,\"chapter\":0,\"reason\":null}},\"latestBankruptcy\":{\"date\":\"2014-09-18T23:18:33.000+0000\",\"chapter\":3,\"reason\":\"string\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":195.9999542236328,"y":419.9999885559082,"wires":[["3317ddc9.0d3c32"]]},{"id":"ef33af99.bcd28","type":"debug","z":"66fae8ef.c62968","name":"Log Response","active":true,"console":"false","complete":"true","x":1180,"y":420,"wires":[]},{"id":"4514fe4a.f8549","type":"make-decision","z":"66fae8ef.c62968","name":"Call Loan Validation Service (Latest @ Local)","server":"290603aa.26c65c","ruleapp":"e70c2c14.1e7bd","x":630,"y":100,"wires":[["bc5de0ef.fe7ed"]]},{"id":"6d7475c8.18af6c","type":"debug","z":"66fae8ef.c62968","name":"Log Config","active":true,"console":"false","complete":"true","x":770,"y":520,"wires":[]},{"id":"93b66644.1c0e68","type":"inject","z":"66fae8ef.c62968","name":"Loan Validation Request (Latest @ On Cloud)","topic":"","payload":"{\"loan\":{\"numberOfMonthlyPayments\":3,\"startDate\":\"2006-08-19T17:27:14.000+0000\",\"amount\":3,\"loanToValue\":10517320},\"borrower\":{\"firstName\":\"string\",\"lastName\":\"string\",\"birth\":\"2008-09-29T01:49:45.000+0000\",\"SSN\":{\"areaNumber\":\"string\",\"groupCode\":\"string\",\"serialNumber\":\"string\"},\"yearlyIncome\":3,\"zipCode\":\"string\",\"creditScore\":3,\"spouse\":{\"firstName\":null,\"lastName\":null,\"birth\":\"2018-05-01T10:32:15.388+0000\",\"SSN\":{\"areaNumber\":\"\",\"groupCode\":\"\",\"serialNumber\":\"\"},\"yearlyIncome\":0,\"zipCode\":null,\"creditScore\":0,\"spouse\":null,\"latestBankruptcy\":{\"date\":null,\"chapter\":0,\"reason\":null}},\"latestBankruptcy\":{\"date\":\"2014-09-18T23:18:33.000+0000\",\"chapter\":3,\"reason\":\"string\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":260,"wires":[["9086a595.d94668"]]},{"id":"9086a595.d94668","type":"make-decision","z":"66fae8ef.c62968","name":"Call Loan Validation Service (Latest @ On Cloud)","server":"10886d12.4245a3","ruleapp":"e70c2c14.1e7bd","x":640,"y":260,"wires":[["bc5de0ef.fe7ed"]]},{"id":"2c1e386f.a86808","type":"comment","z":"66fae8ef.c62968","name":"Non-Dynamic Configuration","info":"","x":140,"y":40,"wires":[]},{"id":"a45f53c3.3346","type":"make-decision","z":"66fae8ef.c62968","name":"Call Loan Validation Service (v1 @ Local)","server":"290603aa.26c65c","ruleapp":"80b96c0e.f714c","x":620,"y":180,"wires":[["bc5de0ef.fe7ed"]]},{"id":"9de50df8.92716","type":"inject","z":"66fae8ef.c62968","name":"Loan Validation Request (v1 @ Local)","topic":"","payload":"{\"loan\":{\"numberOfMonthlyPayments\":3,\"startDate\":\"2006-08-19T17:27:14.000+0000\",\"amount\":3,\"loanToValue\":10517320},\"borrower\":{\"firstName\":\"string\",\"lastName\":\"string\",\"birth\":\"2008-09-29T01:49:45.000+0000\",\"SSN\":{\"areaNumber\":\"string\",\"groupCode\":\"string\",\"serialNumber\":\"string\"},\"yearlyIncome\":3,\"zipCode\":\"string\",\"creditScore\":3,\"spouse\":{\"firstName\":null,\"lastName\":null,\"birth\":\"2018-05-01T10:32:15.388+0000\",\"SSN\":{\"areaNumber\":\"\",\"groupCode\":\"\",\"serialNumber\":\"\"},\"yearlyIncome\":0,\"zipCode\":null,\"creditScore\":0,\"spouse\":null,\"latestBankruptcy\":{\"date\":null,\"chapter\":0,\"reason\":null}},\"latestBankruptcy\":{\"date\":\"2014-09-18T23:18:33.000+0000\",\"chapter\":3,\"reason\":\"string\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":180,"wires":[["a45f53c3.3346"]]},{"id":"bbae3243.ac8ba","type":"comment","z":"66fae8ef.c62968","name":"Dynamic Configuration","info":"","x":120,"y":360,"wires":[]},{"id":"d3a743c6.027a6","type":"make-decision","z":"66fae8ef.c62968","name":"Call Loan Validation Service (Local)","server":"56af16ff.cfbf78","ruleapp":"e70c2c14.1e7bd","x":880,"y":420,"wires":[["ef33af99.bcd28"]]}]